* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 50px;
    margin-left: 100px;
    margin: 200px;
    margin: 100px 50px;
    margin: 10px 20px 30px 40px;
    margin: 50px 100px 150px;

    padding-left: 20px;
    padding-top: 10px;
    padding: 20px;
    padding: 20px 30px;
    padding: 20px 40px 60px;
    padding: 10px 20px 30px 40px;

    text-align: justify;

    /* border-bottom: 10px solid #000; */
    border: 2px solid gray;

    border-radius: 10px;
    border-radius: 10px 0 10px 0;

    float: left;
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin: 50px;
}